#prob-zap-sect {
	margin-left: 50%;
	transform: translateX(-50%);
	margin-right: 20%;
	margin-top: 60px;
	max-width: 600px;
}

#prob-zap-h2 {
	color: #f1faee;
	font-weight: 500;
	font-size: 24px;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

#prob-zap-wrapper {
	width: 100%;
	height: 200px;
}

#prob-zap-tymy {
	width: 100%;
	height: 45px;
	background-color: #23436f;
	display: flex;
	justify-content: space-around;
}

#prob-zap-skore-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

#prob-zap-domaci {
	width: 50%;
	height: 100%;
	background-color: #e63946;
	text-align: center;
	color: #f1faee;
	font-weight: 500;
	font-size: 100px;
	position: relative;
}

#prob-zap-domaci:before {
	content: "";
	display: inline-block;
	height: calc(100% + 10px);
	vertical-align: middle;
}

#prob-zap-hoste {
	width: 50%;
	height: 100%;
	background-color: #f1faee;
	text-align: center;
	color: #e63946;
	font-weight: 500;
	font-size: 100px;
	position: relative;
}
.prob-zap-jmeno {
	line-height: 38px;
	font-weight: 500;
	font-size: 20px;
	color: #f1faee;
	position: absolute;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

#prob-zap-hoste:before {
	content: "";
	display: inline-block;
	height: calc(100% + 10px);
	vertical-align: middle;
}

#prob-zap-timer-left {
	position: absolute;
	right: 5px;
	bottom: 0;
	font-size: 30px;
}

#prob-zap-timer-right {
	position: absolute;
	left: 5px;
	bottom: 0;
	font-size: 30px;
}

.anim {
	animation: blik 1s infinite ease-in-out;
}

.animh {
	animation: blikh 1s infinite ease-in-out;
}

@keyframes blik {
	0% {
		background-color: #23426e;
	}
	49% {
		background-color: #23426e;
	}
	50% {
		background-color: #e63946;
	}
	100% {
		background-color: #e63946;
	}
}

@keyframes blikh {
	0% {
		background-color: #23426e;
	}
	49% {
		background-color: #23426e;
	}
	50% {
		background-color: #f1faee;
	}
	100% {
		background-color: #f1faee;
	}
}

@media only screen and (max-width: 700px) {
	#prob-zap-sect {
		margin-left: 10%;
		transform: translateX(0%);
		margin-right: 10%;
		margin-top: 50px;
	}
}
