#rozp-wrapper {
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
	margin-bottom: 90px;
}

#rozpis-nadpis {
	width: 100%;
	height: 50px;
	background-color: #23426e;
	color: #f1faee;
	line-height: 50px;

	position: relative;
}

#rozpis-nadpis h1 {
	font-weight: 500;
	margin-left: 15px;
	font-size: 27px;
}

.rozpis-zapas/*:nth-child(odd)*/ {
	background: linear-gradient(to right, #e63946 50%, #f1faee 50%);
	color: #f1faee;
}
/*.rozpis-zapas:nth-child(even) {
	background-color: #f1faee;
	color: #e63946;
}*/

.rozpis-zapas {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	font-size: 20px;
	font-weight: 500;
}

.rozpis-zapas span:first-child {
	margin-left: 15px;
}

.rozpis-zapas span:last-child {
	margin-right: 15px;
}

.rozpis-cas {
	position: absolute;
	right: 50.4%;
	font-weight: 500;
	font-size: 25px;
}

.rozpis-cas-2 {
	position: absolute;
	color: #e63946;
	left: 50.2%;
	font-weight: 500;
	font-size: 25px;
}

.rozpis-hoste {
	color: #e63946;
	font-weight: 500;
}

/*
-----------------------------------------------------
-----------------------------------------------------
-----------------------------------------------------
--------------------___________----------------------
-------------------|Nový design|---------------------
-------------------¯¯¯¯¯¯¯¯¯¯¯¯¯---------------------
-----------------------------------------------------
-----------------------------------------------------
*/

.rozpis-new-zapas {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 12px;
}

.rozpis-new-domaci-div,
.rozpis-new-hoste-div {
	height: 30px;
	line-height: 30px;

	font-size: 18px;
	font-weight: 500;

	padding-left: 10px;
}

.rozpis-new-domaci-div {
	background-color: #e63946;
	color: #f1faee;
}

.rozpis-new-hoste-div {
	background-color: #f1faee;
	color: #e63946;
}

.rozpis-new-cas {
	float: right;
	padding-right: 10px;
	font-size: 22px;
}

@media only screen and (max-width: 700px) {
	.rozpis-new-zapas {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 12px;
	}
	#rozp-wrapper {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 50px;
		margin-bottom: 90px;
	}

	#rozpis-nadpis {
		width: 100%;
		height: 40px;
		line-height: 40px;
	}
	#rozpis-nadpis h1 {
		padding-left: 0px;
		margin: 0;
	}

	#rozpis-nadpis h1 {
		margin-left: 10px;
		font-size: 24px;
	}

	.rozpis-zapas {
		width: 100%;
		height: 30px;
		margin-top: 10px;
		line-height: 30px;
		font-size: 18px;
	}

	.rozpis-cas {
		font-size: 20px;
	}

	.rozpis-cas-2 {
		font-size: 20px;
	}

	.rozpis-zapas span:first-child {
		margin-left: 10px;
	}

	.rozpis-zapas span:last-child {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 390px) {
	.rozpis-domaci {
		font-size: 4.2vw;
	}
	.rozpis-hoste {
		font-size: 4.2vw;
	}
}
